<!doctype html>
<html>
    <head>
        <link rel="icon" type="image/png" href="../logo.png"/>
        <title>CashCraft - Register</title>
    </head>

    <body>
        <div class="register-form">
            <h2>Sign Up</h2>
            <p>Already registered? Login <a href="/login"">here</a>.</p>
            <form action="/register" method="POST">
                <label for="username">Username:</label>
                <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="John Doe"
                    required
                /><br />
                <label for="password">Password:</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="******"
                    required
                /><br /><br>
                <button type="submit">Create Account</button>
            </form>
        </div>
    </body>
</html>
