<!doctype html>
<html>
    <head>
        <link rel="icon" type="image/png" href="../logo.png"/>
        <title>CashCraft - Register</title>
        <link rel="stylesheet" href="/login/style.css" />
        <script src="/register/index.js" defer></script>
    </head>
    <body>
        <div class="register-form">
            <h2>Sign Up</h2>
            <p>Already registered? Login <a href="/login"">here</a>.</p>
            <p id="err"></p>
            <label for="username">Username:</label>
            <input
                type="text"
                id="username"
                name="username"
                placeholder="John Doe"
                required
            /><br />
            <label for="password">Password:</label>
            <input
                type="password"
                id="password"
                name="password"
                placeholder="******"
                required
            /><br /><br>
            <button id="submit">Create Account</button>
        </div>
    </body>
</html>
