<!doctype html>
<html>
    <head>
        <link rel="icon" type="image/png" href="../logo.png" />
        <title>CashCraft - Login</title>
        <link rel="stylesheet" href="/login/style.css" />
        <script src="/login/index.js" defer></script>
    </head>
    <body>
        <div id="login-form">
            <h2 id="login">Login</h2>
            <p id="no-account">
                No account? Register <a href="/register">here</a>.
            </p>
            <p id="err"></p>
            <div>
                <label for="username">Username</label><br />
                <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="JohnDoe7"
                    required
                />
            </div>
            <div>
                <label for="password">Password</label><br />
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="******"
                    required
                />
            </div>
            <button id="submit">Login</button>
        </div>
    </body>
</html>
