<!doctype html>
<html>
    <head>
        <link rel="icon" type="image/png" href="../logo.png" />
        <title>CashCraft - Home</title>
        <link rel="stylesheet" href="/style.css" />
        <script src="/index.js" defer></script>
    </head>
    <body>
        <div id="header">
            <img id="logo" src="/logo.png" />
            <h2 id="title">CashCraft Stock Simulator</h2>
            <h1 id="cash">
                Cash <span style="color: #666">-</span>
                <span style="color: #ff0">{{ .CashBalance }}</span>
            </h1>
            <h2 id="name">
                <a target="_blank" href="/leaderboard"
                    ><span style="text-decoration: underline"
                        >{{ .Username }}</span
                    ></a
                >
                <span style="color: #666">-</span> My Portfolio
            </h2>
            <form id="logout-container" action="/logout" method="POST">
                <button id="logout-button">Logout</button>
            </form>
        </div>
        <div id="left">
            <div id="my-stocks-container">
                <h1 id="my-stocks-title">Your Stocks</h1>
                <div id="separator2"></div>
                <div id="my-stocks">{{ .MyStocks }}</div>
            </div>
        </div>
        <div id="right">
            <div id="stocks-data-container">
                <h1 id="stocks-data-title">Stock Prices</h1>
                <div id="separator3"></div>
                <div id="stocks-data">{{ .StocksData }}</div>
                <h1 id="stocks-data-title">{{ .MarketState }}</h1>
            </div>
        </div>
        <div id="separator"></div>
    </body>
</html>
