<!doctype html>
<html>
    <head>
        <link rel="icon" type="image/png" href="../logo.png" />
        <title>CashCraft - Home</title>
    </head>
    <body>
        <form action="/logout" method="POST">
            <button id="logout-button">Logout</button>
        </form>
        <h2>{{ .Username }} - My Portfolio</h2>
        <p>Net Worth: {{ .NetWorth }}</p>
        <p>Cash: {{ .CashBalance }}</p>
        <h3>Your Stocks</h3>
        <div>{{ .MyStocks }}</div>
        <h3>Stock Prices</h3>
        <div>{{ .StocksData }}</div>
    </body>
</html>
